<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>





        <div class="container" >            

            <h2>Teams</h2>
            <a class="btn btn-primary btn-lg" th:href="@{/golf/addPlayer}" th:text="Add" ></a>

            <table id="theData" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width: 150px;">Team Name</th>
                        <th style="width: 150px;">Tournament Id</th>
                        <th style="width: 150px;">Team Leader Name</th>
                        <th style="width: 150px;">Team Contact Number</th>
                        <th style="width: 150px;">Team Website</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="team : ${teams}">
                        <td><a th:href="@{/golf/editTeam(id=${team.teamId},id2=${team.teamId})}" th:text="${team.teamId}" ></a></td>
                        <td th:text="${team.tournamentId}"></td>
                        <td th:text="${team.teamLeaderName}"></td>
                        <td th:text="${team.teamContactNumber }"></td>
                        <td th:text="${team.teamWebsite}"></td>
                        <td><a class="btn btn-primary btn-lg"  th:href="@{/golf/addPlayer}">Add Player</a></td>
                    </tr>
                </tbody>
            </table>    




            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>