<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>





        <div class="container" >            

            <h2>Tournaments</h2>
            <a class="btn btn-primary btn-lg" th:href="@{/golf/addTournament}" th:text="Add" ></a>

            <table id="theData" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width: 150px;">Tournament Id</th>
                        <th style="width: 150px;">Tournament Name</th>
                        <th style="width: 150px;">Tournament Address</th>
                        <th style="width: 150px;">Tournament Start Date</th>
                        <th style="width: 150px;">Tournament End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tournament : ${tournaments}">
                        <td><a th:href="@{/golf/editTournament(id=${tournament.tournamentId},id2=${tournament.tournamentId})}" th:text="${tournament.tournamentId}" ></a></td>
                        <td th:text="${tournament.tournamentName}"></td>
                        <td th:text="${tournament.tournamentAddress}"></td>
                        <td th:text="${tournament.tournamentStartDate }"></td>
                        <td th:text="${tournament.tournamentEndDate}"></td>
                        <td><a class="btn btn-primary btn-lg"  th:href="@{/golf/addTeam}">Add Team</a></td>
                    </tr>
                </tbody>
            </table>    




            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>