<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>





        <div class="container" >            

            <h2>Player</h2>
            <a class="btn btn-primary btn-lg" th:href="@{/golf/addPlayer}" th:text="Add" ></a>

            <table id="theData" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width: 150px;">Player Id</th>
                        <th style="width: 150px;">Team Id</th>
                        <th style="width: 150px;">Player Name</th>
                        <th style="width: 150px;">Player Shirt Size</th>
                        <th style="width: 150px;">Player Email</th>
                        <th style="width: 150px;">Player Food Allergies</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="player : ${players}">
                        <td><a th:href="@{/golf/editPlayer(id=${player.playerId},id2=${player.playerId})}" th:text="${player.playerId}" ></a></td>
                        <td th:text="${player.teamId}"></td>
                        <td th:text="${player.playerName}"></td>
                        <td th:text="${player.playerShirtSize }"></td>
                        <td th:text="${player.playerEmail}"></td>                        
                        <td th:text="${player.playerFoodAllergies}"></td>
                    </tr>
                </tbody>
            </table>    




            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>