<!DOCTYPE html>

<html lang="en">
    <body th:fragment="bodyHeader">
        <div class="containter navbar">
            <div class="container cisis"><a href="../golf/welcome.html" th:href="@{/}">
                    <img style="vertical-align: bottum; float:left " th:src="@{/resources/images/logoHeader.png}" 
                         src="../../../resources/images/logoHeader.png" /><h1>HC-CIS<small>&nbsp;golftournament</small></h1></a>
            </div>

            <div class="navbar-inner" >
                <ul  class="nav">

                    <li class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Tools
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="../golf/addTournament.html" th:href="@{/golf/addTournament}"><i class="icon-th-list"></i>Add Tournament</a></li>                            
                            <li><a href="../golf/addTeam.html" th:href="@{/golf/addTeam}"><i class="icon-th-list"></i>Add Team</a></li>                            
                            <li><a href="../golf/addPlayer.html" th:href="@{/golf/addPlayer}"><i class="icon-th-list"></i>Add Player</a></li>
                            <li><a href="../golf/viewTeams.html" th:href="@{/golf/viewTeams}"><i class="icon-th-list"></i>View Teams</a></li>
                            <li><a href="../golf/viewPlayers.html" th:href="@{/golf/viewPlayers}"><i class="icon-th-list"></i>View Players</a></li>
                            <li><a href="../golf/viewTournaments.html" th:href="@{/golf/viewTournaments}"><i class="icon-th-list"></i>View Tournaments</a></li>
                        </ul>
                    </li>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../other/help" th:href="@{/other/help}"><i class="icon-question-sign"></i>Help</a></li>
                    <li class="divider"></li>
                    <li><a href="../other/about" th:href="@{/other/about}"><i class="icon-log-out"></i>About</a></li>
                </ul>
            </div>
        </div>
    </body>

</html>